body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
  }
.container{
    display: flex;
    flex-direction: column;
    padding: 15px 100px;
    align-items: center;
}
.hero, .footer {
    background-color:#1f2937;
    color:#f9faf8;
}
.quote {
    background-color: #e5e7eb;
    padding: 100px;
}
.action {
    padding: 90px;
}
.infoHeader {
    font-size: 36px;
    font-weight: 800;
    align-self: center;
    padding-top: 30px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 100px;
    align-self: stretch;
}
ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
a, .text {
    color: lightgrey;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.text {
    margin: 10px 0px;
}
h1 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0px;
    margin-top: 0px;
}
button {
    background-color: #3882F6;
    color: #f9faf8;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
    width: 110px;
    height: 36px;
    font-family: Roboto, sans-serif;
    flex: none
}
button:active{
    background-color: lightblue;
}
button:hover{
    cursor: pointer;
}
.logo {
    font-size: 24px;
}
.content {
    display: flex;
    gap: 50px;
    margin: 50px 0px;
    justify-content: center;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    width: 600px;
    height: 300px;
    flex : none
}

.content .text-content {
    width: 420px;
}

.cardBox, .card {
    width: 200px;
}
.cardBox {
    border-width: 5px;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 15px;
    height: 200px;
}
.subtext {
    color: black;
    font-size: 18px;
    text-align: center;
}

.quoteBlock {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width:1000px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.quoteAuthor {
    align-self: flex-end;
    font-style: normal;
    font-weight: bold;
}

.modal {
    display: flex;
    background-color: #3882F6;
    color: #f9faf8;
    padding: 45px 168px;
    gap: 100px;
    border-radius: 8px;
}
.modal button {
    border-width: 2px;
    border-color: #f9faf8;
    border-style: solid;
}
.modal-header {
    font-size: 20px;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}